

<!-- CONTENT -->
<div class="content">

	<!-- CONTAINER -->
	<div class="container">

		<!-- left content -->
		<div class="mainLong">
			<div class="login">
				<h1>Inicia sesión</h1>
				<hr>

				<%= form_tag(:action => 'login_attempt_atendee') do %>
				<p><h3>Correo electrónico</h3> <%= text_field_tag(:email)  %></p>
				<p><h3>Contraseña</h3> <%= password_field_tag :login_password %></p>
				<%= submit_tag "Iniciar sesión", class: "btn"  %>
				<% end %>
				<br>
				<br>
				<p>¿Olvidaste tu contraseña? <a href="mailto:participantes.ci23@gmail">Escríbenos</a></p>
				</div>
			</div>
		</div>

	</div>
	<!-- END CONTAINER -->

</div>
<!-- END CONTENT -->
