<!-- CONTENT -->
	<div class="content">

		<!-- CONTAINER -->
		<div class="container">

			<!-- left content -->
			<div class="mainLong">
				<div class="login">
					<h1>Registro exitoso</h1>
					<hr>
                    <div class="separatorLarge">&nbsp;</div>

                    <h3>Has concluido el registro</h3>
                    <%= link_to "Inicia sesión", login_asistente_path, class: "btn" %>

				</div>
			</div>

		</div>
		<!-- END CONTAINER -->

	</div>
	<!-- END CONTENT -->
