/* -----------------------
Base styles
------------------------*/

html
{
    position:relative;
    min-height:100%;
}

body
{
	margin: 0 0 100px;
	padding: 0;
	color: #333;
	background-color: #fff;
	font: 1em/1.2 'Raleway', sans-serif;
}

h1,h2,h3,h4,h5,h6
{
	margin: 0 0 .5em;
	font-weight: 500;
	line-height: 1.1;
}

h1 { font-size: 2.25em; } /* 36px */
h2 { font-size: 1.75em; } /* 28px */
h3 { font-size: 1.375em; } /* 22px */
h4 { font-size: 1.125em; } /* 18px */
h5 { font-size: 1em; } /* 16px */
h6 { font-size: .875em; } /* 14px */

p
{
	margin: 0 0 1.5em;
	line-height: 1.5;
}

blockquote
{
	padding: 1em 2em;
	margin: 0 0 2em;
	border-left: 5px solid #eee;
}

hr
{
	height: 0;
	margin-top: 1em;
	margin-bottom: 2em;
	border: 0;
	border-top: 1px solid #ddd;
}


table
{
	background-color: transparent;
	border-spacing: 0;
	border-collapse: collapse;
	border-top: 1px solid #ddd;
}

th, td
{
	padding: .5em 1em;
	vertical-align: top;
	text-align: left;
	border-bottom: 1px solid #ddd;
    font-size: 0.9em;
}

table .btn
{
  padding: .3em 1em !important;
}

table .red
{
  background-color: red;
}

a
{
    color: #52A8A8;
    text-decoration: none;
    font-weight: 500;
}

a:hover
{
    color: #50E548;
}

/* -----------------------
Layout styles
------------------------*/

.container
{
	max-width: 70em;
	margin: 0 auto;
}

.header
{
	color: #000;
	background: #262627;
	padding: 1em 1.25em;
    text-align: center;
}

.header-heading
{
    margin: 0;
}

.header img
{
    max-height:120px;
}

.nav-bar
{
	background: #52A8A8;
	padding: 0;
}

.content
{
	overflow: hidden;
	padding: 1em 1.25em;
	background-color: #fff;
}

.main, .aside
{
	margin-bottom: 1em;
}

.footer
{
	position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 1em;
    color: #fff;
	background: #262627;
	padding: 1em 1.25em;
    text-align: center;
}

/* -----------------------
Nav
------------------------*/

.nav
{
	margin: 0;
	padding: 0;
	list-style: none;
}

.nav li
{
	display: inline;
	margin: 0;
    text-align: center;
    height:100%;
}

.nav a
{
	display: block;
	padding: .7em 1.25em;
	color: #fff;
	text-decoration: none;
	border-bottom: 1px solid white;
    font-weight: 500;
}

.nav a:hover
{
	color:#262627;
    background:#50E548;
}

.current
{
    font-weight: 700 !important;
    color: #262627 !important;
    background:#50E548;
}

div#centerDiv
{
    width: 100%;
    text-align: center;
}

ul.centerUL
{
    margin: 2px auto;
    line-height: 1.4;
    padding-left: 0;
}

/* -----------------------
Single styles
------------------------*/

.img-responsive { max-width: 100%; }

.btn
{
	color: #fff !important;
	background-color: #52A8A8;
	border-color: #222;
	display: inline-block;
	padding: .8em 1em;
	margin-bottom: 0;
    font: 1em/1.2 'Raleway', sans-serif;
	font-weight: 400;
	line-height: 1.2;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	border: 1px solid transparent;
	border-radius: .2em;
	text-decoration: none;
}

.btn:hover
{
	color: #fff !important;
	background-color: #50E548;
}

.btn:focus
{
	color: #fff !important;
	background-color: black;
}

.btn:active
{
	color: #fff !important;
	background-color: red;
}

.btnSmall
{
  padding: .3em 1em !important;
  width: 100% !important;
}

.table
{
	width: 100%;
	max-width: 100%;
	margin-bottom: 20px;
}

.list-unstyled
{
	padding-left: 0;
	list-style: none;
}

.list-inline
{
	padding-left: 0;
	margin-left: -5px;
	list-style: none;
}

.listfilter
{
  margin-top:0 !important;
}

.list-inline > li
{
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
}


.separator
{
    margin: 1em 0;
}

.separatorLarge
{
    margin: 1.8em 0;
}

.separatorXL
{
  margin:2.2em 0;
}

.clear
{
  clear:both;
}

input[type=text], input[type=email], input[type=password], input[type=datetime]
{
    width:85%;
    height:3em;
    font: 1em/1.2 'Raleway', sans-serif;
    padding: 0 1em;
}

input[type=number]
{
    width:4em;
    height:3em;
    font: 1em/1.2 'Raleway', sans-serif;
    padding: 0 1em;
}

textarea
{
    width:85%;
    height:8em;
    font: 1em/1.2 'Raleway', sans-serif;
    padding: 1em 1em;
}

.textSmall
{
    width:inherit !important;
}

ul.sidebar li
{
  margin:10px 0;
}

.toolList
{
  margin:5px 0;
}

.oneThird
{
  text-align: center;
  width:33%;
  float:left;
  border-right: 1px solid #d2d2d2;
  padding:10px 0;
  margin-bottom:40px;
}

.oneHalf
{
  text-align: center;
  width:49%;
  float:left;
  border-right:  1px solid #d2d2d2;
  padding:10px 0;
  margin:20px 0;
}

.conceptEnclosure
{
  padding-left: 6px;
  padding-right: 6px;
}

#gridLast
{
  border-right: 1px solid #fff !important;
}

.centerText
{
  text-align: center;
}


/* -----------------------
Wide styles
------------------------*/

@media (min-width: 55em)
{
	.header { padding: 1em 3em; }
	.nav-bar { padding: 1em 3em; }
	.content { padding: 2em 3em; }

	.main
	{
		float: left;
		width: 75%;
		margin-right: 5%;
		margin-bottom: 1em;
	}

  .mainLong
  {
    float:left;
    width:100%;
    margin-right:0;
    margin-bottom: 1em;
  }

  .mainLong input
  {
    text-align:center;
  }

  .login
  {
    text-align:center;
  }

	.aside
	{
		float: left;
		width: 20%;
		margin-bottom: 1em;
	}

	.footer { padding: 2em 3em; }

	.nav li
	{
		display: inline;
		margin: 0 1em 0 0;
	}

	.nav a
	{
		display: inline;
		padding: 0;
		border-bottom: 0;
	}

    .nav a:hover
    {
	   background:none;
    }

    .current
    {
        background:none;
    }

    input[type=text], input[type=email], input[type=password], input[type=datetime]
    {
        width:22em;
    }

    textarea
    {
        width:30em;
    }


}
